.nav-navbar {
  /*background-color: #2b8a3e;*/
}

.sticky {
  transition: all 0.4s;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  /* background-color: #2b8a3e;
    opacity: 0.95; */
}

.navbar {
  padding: 1.8rem 3.6rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #444;
}

.nav-right {
  align-items: center;
  justify-self: center;
  text-align: center;
}
.navbar {
  align-items: center;
  text-align: center;
}

.navbar a {
  transition: all 0.3s;
}

.navbar a:hover {
  color: #2b8a3e !important;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.75);
}

.navbar ion-icon {
  transition: all 0.4s;
}

.navbar ion-icon:hover {
  transform: scale(1.2);
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.navbar-icon {
  width: 4rem;
  height: 4rem;
  margin-right: -2rem;
}

.nav-background-image-div {
  display: flex;
  justify-self: center;
  margin-top: -8.56rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("background-images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  height: 100vh;
}

/* URUNLER CLICKED **************************************** */

.urunler-clicked {
  position: absolute;
  z-index: 999;
  transition: 0.6s all;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  margin-top: 0rem;
  margin-left: -0.8rem;
  font-size: 2rem;
  color: #222;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.94),
    rgba(255, 255, 255, 0.96)
  );
  padding: 1rem 2rem;
  border-radius: 0.4rem 0.4rem 0.8rem 0.8rem;
}
.urunler-clicked ul {
  display: block;
}

.urunler-clicked li {
  font-weight: 500;
  margin-top: 1rem;
}
.urunler-clicked li:last-child {
  margin-bottom: 1rem;
}

.urunler-clicked-link {
  color: #333;
}
.urunler-clicked-link a:hover {
  color: #111 !important;
}

/* ********************************************** */
.top-seller-section {
  max-width: 128rem;
  margin: auto;
}
.top-seller-heading {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 9.6rem;
  margin-bottom: 3rem;
}

.top-seller-heading-product {
  margin-bottom: 1rem;
  margin-top: 3.6rem;
}

.top-seller-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  line-height: 2rem;
}

.top-seller-products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0rem;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.for-padding-top-seller {
  padding: 0 2rem;
}

.top-seller-products {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  /* background-color: #8ce99a; */
  width: 23rem;
  height: 45rem;
  box-shadow: 0px 20px 30px 1px rgba(0, 0, 0, 0.11);
  transition: all 0.3s;
}

.top-seller-products:hover {
  transform: scale(1.005);
}

.for-center {
  justify-self: center;
}

.top-seller-image {
  text-align: center;
}

.top-seller-image img {
  max-width: 100%;
  height: auto;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

.top-seller-price p {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 2.4rem;
  color: #187729;
}

.top-seller-price i {
  font-size: 3rem;
  color: #1f9735;
  bottom: 2rem;
  right: 2rem;
  position: absolute;
  transition: 0.3s all;
}

.top-seller-price i:hover {
  color: #1fc43d;
  cursor: pointer;
}
